<%= render "quotations/form", quotation: insurance.quotation %>

<% if insurance.quotation.persisted? %>
  <%= form_with(model: insurance) do |form| %>
    <% if insurance.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from being saved:</h2>

        <ul>
          <% insurance.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :notes, style: "display: block" %>
      <%= form.text_area :notes %>
    </div>

    <div>
      <%= form.label :referral_agent_name, style: "display: block" %>
      <%= form.text_field :referral_agent_name %>
    </div>

    <div>
      <%= form.label :referral_agent_email, style: "display: block" %>
      <%= form.text_field :referral_agent_email %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
