<p style="color: green"><%= notice %></p>

<%= render @insurance %>

<div>
  <%= link_to "Edit this insurance", edit_insurance_path(@insurance) %> |
  <%= link_to "Back to insurances", insurances_path %>

  <%= button_to "Destroy this insurance", @insurance, method: :delete %>
</div>
