<div id="<%= dom_id property %>">
  <p>
    <strong>Lot number:</strong>
    <%= property.lot_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= property.postal_code %>
  </p>

  <p>
    <strong>Bound by water:</strong>
    <%= property.bound_by_water %>
  </p>

  <p>
    <strong>On municipal water sewer:</strong>
    <%= property.on_municipal_water_sewer %>
  </p>

  <p>
    <strong>Title insurance issued:</strong>
    <%= property.title_insurance_issued %>
  </p>

  <p>
    <strong>Title insurance denied:</strong>
    <%= property.title_insurance_denied %>
  </p>

</div>
