<%= form_with(model: quotation) do |form| %>
  <% if quotation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
        <% quotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">Quotation Form</h1>
  <div class="flex">
    <div class="mr-2">
      <div>
        <%= form.text_field :first_name, placeholder: 'First name*', required: true %>
      </div>

      <div>
        <%= form.text_field :last_name, placeholder: 'Last name*', required: true  %>
      </div>

      <div>
        <%= form.email_field :email, placeholder: 'Email*', required: true %>
      </div>

      <div>
        <%= form.phone_field :phone, placeholder: 'Phone*', required: true %>
      </div>

      <div>
        <%= form.number_field :municipal_evaluation, placeholder: 'Municipal Evaluation of the property*', required: true %>
      </div>
    </div>
    <div>
      <div>
        <%= form.text_field :address, placeholder: 'Address*', required: true %>
      </div>

      <div>
        <%= form.text_field :postal_code, placeholder: 'Postal code*', required: true %>
      </div>

      <div>
        <%= form.text_field :city, placeholder: 'City*', required: true %>
      </div>

      <div>
        <%= form.text_field :province, placeholder: 'Province*', required: true %>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <%= form.submit 'Get a Quote', class:"px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out
      mr-1" %>
  </div>
  <p>*Mandatory fields</p>
<% end %>
