<%= form_with(model: property_transaction) do |form| %>
  <% if property_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property_transaction.errors.count, "error") %> prohibited this property_transaction from being saved:</h2>

      <ul>
        <% property_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%= form.select(:language , PropertyTransaction.languages.keys.collect { |option| [ option.capitalize, option ] }, {selected: property_transaction.language}, {class: "ui dropdown search"} ) %>
  </div>

  <div>
    <%= form.label :first_homeowner_name, style: "display: block" %>
    <%= form.text_field :first_homeowner_name %>
  </div>

  <div>
    <%= form.label :second_homeowner_name, style: "display: block" %>
    <%= form.text_field :second_homeowner_name %>
  </div>

  <div>
    <%= form.label :third_homeowner_name, style: "display: block" %>
    <%= form.text_field :third_homeowner_name %>
  </div>

  <div>
    <%= form.label :is_owner, style: "display: block" %>
    <%= form.select(:is_owner , PropertyTransaction.is_owners.keys.collect { |option| [ option.capitalize, option ] }, {selected: property_transaction.is_owner}, {class: "ui dropdown search"} ) %>
  </div>

  <div>
    <%= form.label :purshase_date, style: "display: block" %>
    <%= form.datetime_field :purshase_date %>
  </div>

  <div>
    <%= form.label :property_value, style: "display: block" %>
    <%= form.text_field :property_value %>
  </div>

  <div>
    <%= form.label :property_type_id, style: "display: block" %>
    <%= form.select(:property_type_id , PropertyType.all.collect { |property| [ property.name, property.id ] }, {selected: property_transaction.property_type_id}, {class: "ui dropdown search"} ) %>
  </div>

  <div>
    <%= form.hidden_field :quotation_id%>
  </div>

  <%= form.fields_for :address do |address_subform| %>
    # fields for the associated address object
    address_subform.text_field :street
    address_subform.text_field :number
  <% end %>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
