<div id="<%= dom_id property_transaction %>">
  <p>
    <strong>Language:</strong>
    <%= property_transaction.language %>
  </p>

  <p>
    <strong>First homeowner name:</strong>
    <%= property_transaction.first_homeowner_name %>
  </p>

  <p>
    <strong>Second homeowner name:</strong>
    <%= property_transaction.second_homeowner_name %>
  </p>

  <p>
    <strong>Third homeowner name:</strong>
    <%= property_transaction.third_homeowner_name %>
  </p>

  <p>
    <strong>Is owner:</strong>
    <%= property_transaction.is_owner %>
  </p>

  <p>
    <strong>Purshase date:</strong>
    <%= property_transaction.purshase_date %>
  </p>

  <p>
    <strong>Property value:</strong>
    <%= property_transaction.property_value %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property_transaction.property_type_id %>
  </p>

  <p>
    <strong>Quotation:</strong>
    <%= property_transaction.quotation_id %>
  </p>

</div>
