<p style="color: green"><%= notice %></p>

<%= render @property_transaction %>

<div>
  <%= link_to "Edit this property transaction", edit_property_transaction_path(@property_transaction) %> |
  <%= link_to "Back to property transactions", property_transactions_path %>

  <%= button_to "Destroy this property transaction", @property_transaction, method: :delete %>
</div>
